body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #D3D3D3;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
}

#room-input {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4692e3;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #126ac7;
}

#video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

video {
    max-width: 100%;
    max-height: 100%;
}